<h1>Logged-in as <%= current_user.email %></h1>


<div class= "btn-group">
<%= link_to 'Create Profile1', new_user_profile_path(current_user) %>
<%= link_to 'Edit Profile', edit_user_profile_path(current_user) %>
</div>
<br />

