<% if notice %>
	<p ud="notice"><%= notice %></p>
<% end %>


<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>
<% @product.each do |t| %>
	<% cache ['entry', product] do %>
	<div class="entry">
		<%= image_tag(t.image_url)%>
		<h3><%= product.name %></h3>
		<span class="price">$<%= t.price %></span>
	</div>
	<% end %>
	
<% end %>
